@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
  }

header {
    position: fixed;
    top: 0;
    z-index: 50;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition-property: all;
    transition-duration: 0.2s;

    /* Estilos para telas grandes */
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}
  
  /* Component styles */
  .headerLink {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 300;
    color: #e5e5e5;
    transition-property: all;
    transition-duration: 0.4s;
  }
  
  .headerLink:hover {
    color: #b3b3b3;
  }
  
  .bannerButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.34rem;
    padding-bottom: 0.34rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 0.3s;
  }

  .bannerButton:hover {
    opacity: 0.75;
  }

  @media (min-width: 768px) {
    .bannerButton {
      padding: 0.625rem 2rem;
      font-size: 0.9rem;
    }

  .modalButton {
    display: flex;
    height: 2.2rem; 
    width: 2.2rem; 
    align-items: center; 
    justify-content: center; 
    border-radius: 50%; 
    border: 2px solid rgb(15, 15, 15); 
    background-color: rgb(15, 15, 15); 
    transition: all 0.3s ease; 
  } 
}
  